body {
    background-color: #fae5c5;
  }
  
  h1 {
    color: #524339;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  button {
    background-color: var(--pr-color);
    color: #c83305;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    padding: 15px 20px;
    border-radius: 7px;
    font-family: arial;
    font-weight: 600;
    display: grid;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}